<div class='mb4 alert alert-warning'>
  <p>
  <% puts 'hi' %>
    <%= t('account.index.reactivation.instructions') %>
    lol
  </p>
  <p class='mb0'>
    <%= link_to t('account.index.reactivation.link'), reactivate_account_path %>
  </p>
</div>
